* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    --dark-color: #082f49;
    --light-color: #cbd5e1;
}

body {
    display: flex;
    flex-direction: column;
}

img {
    max-width: 1080px;
}

.about{
    padding: 16px;
    background: linear-gradient(to bottom right, var(--dark-color) 40%, var(--light-color) 40%);
    display: flex;
    gap: 0;
    align-items: center;
    justify-content: center;
}

.bio{
    box-shadow: 0 0 3px black;
    background-color: var(--light-color);
    max-width: 40%;
    align-self: center;
}
.bio p, .bio h1 {
    margin: 16px;
}

.portrait {
    position: relative;
    text-align: center;
}

.portrait img {
    box-shadow: 0 0 3px black;
    max-width: 360px;
    padding: 0;
}
.portrait h1 {
    text-align: center;
    position: absolute;
    bottom: 16px;
    left: 16px;
    color: var(--light-color);
}

.icon {
    max-width: 32px;
}

.links {
    padding-left: 16px;
    padding-bottom: 16px;
}


.work {
    background:  var(--light-color);
}

.work h1{
    padding: 16px;
}

.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 16px;
    margin: 16px;
}
.card {
    max-width: 360px;
    box-shadow: 0 0 3px black;
    padding: 16px;
}

.card-title {
    display: flex;
}

.card-title img {
    max-height: inherit;
}
.card-title h2 {
    flex:1;
}
.card-title div{
    flex: 1;
    vertical-align: middle;
    left: auto;
}

.project-img{
    object-fit: scale-down;
    max-width: inherit;
}

.contact {
    background: var(--dark-color);
}



