* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    --dark-color: #082f49;
    --light-color: #cbd5e1;
}
  
div {
    padding: 16px;
    gap: 16px;

}

.about{
    background: linear-gradient(to bottom right, var(--dark-color) 40%, var(--light-color) 40%);
    justify-content: center;
    gap: 0;
    display: flex;

}

.bio{
    box-shadow: 0 0 3px black;
    background-color: var(--light-color);

}

.work {
    background:  var(--light-color);

}

.contact {
    background: var(--dark-color);

}

.card {
    box-shadow: 0 0 3px black;
}

img {
    max-width: 1080px;
}

.portrait {
    max-width: 360px;
    padding: 0;
}

.portrait img {
    box-shadow: 0 0 3px black;

}

.name {
    color: var(--light-color);
}

