* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
    --dark-color: #082f49;
    --light-color: #cbd5e1;
}
  
div {
    padding: 16px;
    gap: 16px;

}

img {
    max-width: 1080px;
}

.about{
    background: linear-gradient(to bottom right, var(--dark-color) 40%, var(--light-color) 40%);
    display: flex;
    align-items: center;
    justify-content: center;


}

.bio{
    box-shadow: 0 0 3px black;
    background-color: var(--light-color);
    padding: 16px;
    max-width: 40%;
    align-self: center;
}
.bio p {
    margin: 16px;
}

.portrait {
    max-width: 360px;
    padding: 0;

}

.portrait img {
    box-shadow: 0 0 3px black;

}
.portrait h1 {
    text-align: center;
    position: relative;
    bottom: 0;

}


.work {
    background:  var(--light-color);

}


.card {
    box-shadow: 0 0 3px black;
}

.contact {
    background: var(--dark-color);

}



